extends layout

block content
  .row
    .col-md-4
      h2 Where is Matt swimming?
  .row
    .col-md-4
        .panel.panel-primary
            .panel-heading 
                .panel-title 
            .panel-body
                ul#theList.list-group
                  
    
block scripts
    script(type='text/javascript' src='/javascripts/whereismatt.js')                         
        